In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [2]:
# Setting variables to be used below
maxTweets = 100000

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:elonmusk').get_items()):
    if i%100 == 0:
        print('scrapped ',i,'tweets')
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

scrapped  0 tweets
scrapped  100 tweets
scrapped  200 tweets
scrapped  300 tweets
scrapped  400 tweets
scrapped  500 tweets
scrapped  600 tweets
scrapped  700 tweets
scrapped  800 tweets
scrapped  900 tweets
scrapped  1000 tweets
scrapped  1100 tweets
scrapped  1200 tweets
scrapped  1300 tweets
scrapped  1400 tweets
scrapped  1500 tweets
scrapped  1600 tweets
scrapped  1700 tweets
scrapped  1800 tweets
scrapped  1900 tweets
scrapped  2000 tweets
scrapped  2100 tweets
scrapped  2200 tweets
scrapped  2300 tweets
scrapped  2400 tweets
scrapped  2500 tweets
scrapped  2600 tweets
scrapped  2700 tweets
scrapped  2800 tweets
scrapped  2900 tweets
scrapped  3000 tweets
scrapped  3100 tweets
scrapped  3200 tweets
scrapped  3300 tweets
scrapped  3400 tweets
scrapped  3500 tweets
scrapped  3600 tweets
scrapped  3700 tweets
scrapped  3800 tweets
scrapped  3900 tweets
scrapped  4000 tweets
scrapped  4100 tweets
scrapped  4200 tweets
scrapped  4300 tweets
scrapped  4400 tweets
scrapped  4500 tweets
scrapped  4600 tweets
scrapped  4700 tweets
scrapped  4800 tweets
scrapped  4900 tweets
scrapped  5000 tweets
scrapped  5100 tweets
scrapped  5200 tweets
scrapped  5300 tweets
scrapped  5400 tweets
scrapped  5500 tweets
scrapped  5600 tweets
scrapped  5700 tweets
scrapped  5800 tweets
scrapped  5900 tweets
scrapped  6000 tweets
scrapped  6100 tweets
scrapped  6200 tweets
scrapped  6300 tweets
scrapped  6400 tweets
scrapped  6500 tweets
scrapped  6600 tweets
scrapped  6700 tweets
scrapped  6800 tweets
scrapped  6900 tweets
scrapped  7000 tweets
scrapped  7100 tweets
scrapped  7200 tweets
scrapped  7300 tweets
scrapped  7400 tweets
scrapped  7500 tweets
scrapped  7600 tweets
scrapped  7700 tweets
scrapped  7800 tweets
scrapped  7900 tweets
scrapped  8000 tweets
scrapped  8100 tweets
scrapped  8200 tweets
scrapped  8300 tweets
scrapped  8400 tweets
scrapped  8500 tweets
scrapped  8600 tweets
scrapped  8700 tweets
scrapped  8800 tweets
scrapped  8900 tweets
scrapped  9000 tweets
scrapped  9100 tweets
scrapped  9200 tweets
scrapped  9300 tweets
scrapped  9400 tweets
scrapped  9500 tweets
scrapped  9600 tweets
scrapped  9700 tweets
scrapped  9800 tweets
scrapped  9900 tweets
scrapped  10000 tweets
scrapped  10100 tweets
scrapped  10200 tweets
scrapped  10300 tweets
scrapped  10400 tweets
scrapped  10500 tweets
scrapped  10600 tweets
scrapped  10700 tweets
scrapped  10800 tweets
scrapped  10900 tweets
scrapped  11000 tweets
scrapped  11100 tweets
scrapped  11200 tweets
scrapped  11300 tweets
scrapped  11400 tweets
scrapped  11500 tweets
scrapped  11600 tweets
scrapped  11700 tweets
scrapped  11800 tweets
scrapped  11900 tweets
scrapped  12000 tweets
scrapped  12100 tweets
scrapped  12200 tweets
scrapped  12300 tweets
scrapped  12400 tweets
scrapped  12500 tweets

In [3]:
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df1.to_csv('elonmusk.csv', index=False)

In [4]:
tweets_df1.shape

(12508, 4)

In [23]:
# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:realDonaldTrump').get_items()):
    if i%100 == 0:
        print('scrapped ',i,'tweets')
    if i>maxTweets:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [18]:
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df2.to_csv('billgates.csv', index=False)

In [19]:
tweets_df2.shape

(3166, 4)

In [20]:
#overall
tweets_df2.groupby('Username').agg(nb_tweets=('Tweet Id', "count")
                                   ,first_tweet=('Datetime', min), last_tweet=('Datetime', max))

           nb_tweets               first_tweet                last_tweet
Username
BillGates       3166 2010-01-19 22:50:41+00:00 2021-04-12 17:45:05+00:00

In [21]:
#1sf period
print('First period: Feb 19 - Apr 18 2020')
tweets_df2[tweets_df2.Datetime >= '2020-02-19'][tweets_df2.Datetime < '2020-04-18'].groupby('Username').agg(
    nb_tweets=('Tweet Id', "count"),
    first_tweet=('Datetime', min),
    last_tweet=('Datetime', max)
)

First period: Feb 19 - Apr 18 2020

<ipython-input-21-e56881dbc602>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tweets_df2[tweets_df2.Datetime >= '2020-02-19'][tweets_df2.Datetime < '2020-04-18'].groupby('Username').agg(

           nb_tweets               first_tweet                last_tweet
Username
BillGates         37 2020-02-19 19:48:05+00:00 2020-04-15 05:17:26+00:00

In [22]:
#2nd period
print('Second period: Sep 2 - Oct 12 2020')
tweets_df2[tweets_df2.Datetime >= '2020-09-02'][tweets_df2.Datetime < '2020-10-13'].groupby('Username').agg(
    nb_tweets=('Tweet Id', "count"),
    first_tweet=('Datetime', min),
    last_tweet=('Datetime', max)
)

Second period: Sep 2 - Oct 12 2020

<ipython-input-22-0272b2110032>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tweets_df2[tweets_df2.Datetime >= '2020-09-02'][tweets_df2.Datetime < '2020-10-13'].groupby('Username').agg(

           nb_tweets               first_tweet                last_tweet
Username
BillGates         16 2020-09-03 19:33:34+00:00 2020-10-12 04:23:07+00:00